<!DOCTYPE html>
<html lang="en">
<head>
  <title>accessible-slick - linked product cards accessible boilerplate</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/carousel.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
</head>

<body>
  <main>
    <div class="carousel">
      <div class="card">
          <div class="image">
          <a><img src="images/tajhotel.jpg">
          </div>
          <h2 class="title">Taj Hotel</h2>
        </a>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="price">
            <span class="new-price">Rs.9999</span>
          </div>
           <div class="rating">
      <span class="sr-only">Rating: 3 out of 5 stars</span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="reviews-link">77 reviews</span>
    </div>
          <a href="login" type = "button" class = "btn">book now</a>
    </div>
    </div>

      <div class="card">
          <div class="image">
           <a> <img src="images/tajhotel.jpg">
          </div>
          <h2 class="title">Taj Hotel</h2>
        </a>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="price">
            <span class="new-price">Rs.9999</span>
          </div>
           <div class="rating">
      <span class="sr-only">Rating: 3 out of 5 stars</span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="reviews-link">77 reviews</span>
    </div>
          <a href="login" type = "button" class = "btn">book now</a>
    </div>
      </div>

     <div class="card">
          <div class="image">
           <a> <img src="images/tajhotel.jpg">
          </div>
          <h2 class="title">Taj Hotel</h2>
        </a>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="price">
            <span class="new-price">Rs.9999</span>
           <!--- <span class="original-price">
              <span class="sr-only">Originally:</span>
              $100.00
            </span>-->
          </div>
           <div class="rating">
      <span class="sr-only">Rating: 3 out of 5 stars</span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="reviews-link">77 reviews</span>
    </div>
          <a href="login" type = "button" class = "btn">book now</a>
    </div>
      </div>
     <div class="card">
          <div class="image">
           <a> <img src="images/tajhotel.jpg">
          </div>
          <h2 class="title">Taj Hotel</h2>
        </a>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="price">
            <span class="new-price">Rs.9999</span>
          </div>
           <div class="rating">
      <span class="sr-only">Rating: 3 out of 5 stars</span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="reviews-link">77 reviews</span>
    </div>
          <a href="login" class = "btn">book now</a>
    </div>
      </div>

      <div class="card">
          <div class="image">
           <a> <img src="images/tajhotel.jpg">
          </div>
          <h2 class="title">Taj Hotel</h2>
        </a>

        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="price">
            <span class="new-price">Rs.9999</span>
          </div>
           <div class="rating">
      <span class="sr-only">Rating: 3 out of 5 stars</span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="fas fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="far fa-star" aria-hidden="true"></span>
      <span class="reviews-link">77 reviews</span>
    </div>
          <a href="login" class = "btn">book now</a>
    </div>
      </div>
    </div>
  </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.js"></script>
  <script>
     window.addEventListener('DOMContentLoaded', function(e) {
      $('.carousel').slick({
        slidesToShow: 4,
        prevArrow: '<button class="previous-button is-control">' +
                  '  <span class="fas fa-angle-left" aria-hidden="true"></span>' +
                  '  <span class="sr-only">Previous slide</span>' +
                  '</button>',
        nextArrow: '<button class="next-button is-control">' +
                  '  <span class="fas fa-angle-right" aria-hidden="true"></span>' +
                  '  <span class="sr-only">Next slide</span>' +
                  '</button>',
        responsive: [
          {
            breakpoint: 575,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 375,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
    });
  </script>
</html>