<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/Footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    <footer class = "footer">
        <div class = "footer-container">
            <div>
                <h2>About Us </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sapiente mollitia doloribus provident? Eos quisquam aliquid vel dolorum, impedit culpa.</p>
            </div>
            <div class="quick-links">
                <h2>Useful Links</h2>
                <a href = "#"><i class="fas fa-arrow-right"></i>Home</a>
                <a href = "#"><i class="fas fa-arrow-right"></i>Hotels</a>
                <a href = "#"><i class="fas fa-arrow-right"></i>Tour</a>
                <a href = "#"><i class="fas fa-arrow-right"></i>Services</a>
            </div>

            <div class="quick-links">
                <h2>Privacy</h2>
                <a href = "#"><i class="fas fa-arrow-right"></i>Career</a>
                <a href = "#"><i class="fas fa-arrow-right"></i>About Us</a>
                <a href = "#"><i class="fas fa-arrow-right"></i>Contact Us</a>
                <a href = "#"><i class="fas fa-arrow-right"></i>Services</a>
            </div>
            <div>
                <h2>Have A Question</h2>
                <div class = "contact-item">
                    <span>
                        <i class = "fas fa-map-marker-alt"></i>
                    </span>
                    <span>
                        #123, city,state,country.
                    </span>
                </div>
                <div class = "contact-item">
                    <span>
                        <i class = "fas fa-phone-alt"></i>
                    </span>
                    <span>
                        +91 90xxxxxxxx
                    </span>
                </div>
                <div class = "contact-item">
                    <span>
                        <i class = "fas fa-envelope"></i>
                    </span>
                    <span>
                        bucketlisttravel@domain.com
                    </span>
                </div>
            </div>
        </div>
        <hr class="divider">
        <div class="footer-bottom">
            <div class="copyright">
            <span>&copy; 2021 Company. All rights reserved.</span>
            </div>
        <div class="share">
            <ul> 
                <li><a href="#"><span class="tooltipText fb">Facebook</span><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"> <span class="tooltipText tw">Twitter</span><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"> <span class="tooltipText go">Google</span><i class="fab fa-google"></i></a></li>
                <li><a href="#"> <span class="tooltipText in">Instagram</span><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        </div>
    </footer>
</body>
<script src="viewport-units-buggyfill.js"></script> 
<script>window.viewportUnitsBuggyfill.init()</script>
</html>