<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/package-card.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
    
</head>
<body>
    <div class="card-container">
        <div class="row tours">
            <div class="tourcard">
                <figure>
                    <div class="tourpic">
                        <img width="320" height="180" src="https://placeimg.com/400/225/nature">
                        <span class="tourcat">Domestic</span>                             
                        <span class="tourday hot">4d3n</span>
                    </div>
                    <figcaption>
                      <h3 class="entry-title">
                          <a href="#">Goa</a></h3>
                      <span class="description">Domestic Tour Package 4 Days 3 Night</span>
                      <span class="tourprice">
                        <span class="currency">Rs. </span><span class="price">50000</span>
                      </span>
                    </figcaption>
                    <div class="tourbtn">
                        <a href="//wa.me/6282127602518" class="btn btn-sm" target="_blank" rel="noreferrer">
                          <i class="fas fa-inbox"></i><span>message</span>
                        </a>
                        <a href="tel:6282127602518" class="btn btn-sm" target="_blank" rel="noreferrer">
                            <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                        </a>
                        <a href="https://reezhdesign.com/" class="btn btn-sm">
                            <i class="fas fa-arrow-right"></i><span>Read more</span>
                        </a>
                    </div>
                </figure>
            </div>
            <div class="tourcard">
                <figure>
                    <div class="tourpic">
                        <img width="320" height="180" src="https://placeimg.com/400/225/nature">
                        <span class="tourcat">Domestic</span>                             
                        <span class="tourday hot">2d1n</span>
                    </div>
                    <figcaption>
                      <h3 class="entry-title">
                          <a href="https://reezhdesign.com">Kanyakumari</a></h3>
                      <span class="description">Domestic Tour Package 2 Days 1 Night</span>
                      <span class="tourprice">
                        <span class="currency">Rs. </span><span class="price">30000</span>
                      </span>
                    </figcaption>
                    <div class="tourbtn">
                        <a href="//wa.me/6282127602518" class="btn btn-sm" target="_blank" rel="noreferrer">
                            <i class="fas fa-inbox"></i><span>message</span>
                        </a>
                        <a href="tel:6282127602518" class="btn btn-sm" target="_blank" rel="noreferrer">
                            <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                        </a>
                        <a href="https://reezhdesign.com/" class="btn btn-sm">
                            <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                        </a>
                    </div>
                </figure>
            </div>
            <div class="tourcard">
                <figure>
                    <div class="tourpic">
                        <img width="320" height="180" src="https://placeimg.com/400/225/nature">
                        <span class="tourcat">Domestic</span>                             
                        <span class="tourday hot">4d3n</span>
                    </div>
                    <figcaption>
                      <h3 class="entry-title">
                          <a href="https://reezhdesign.com">Musoorie</a></h3>
                      <span class="description">Domestic Tour Package 4 Days 3 Night</span>
                      <span class="tourprice">
                        <span class="currency">Rs. </span><span class="price">55000</span>
                      </span>
                    </figcaption>
                    <div class="tourbtn">
                        <a href="//wa.me/6282127602518" class="btn btn-sm" target="_blank" rel="noreferrer">
                            <i class="fas fa-inbox"></i><span>message</span>
                        </a>
                        <a href="tel:6282127602518" class="btn btn-sm" target="_blank" rel="noreferrer">
                            <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                        </a>
                        <a href="https://reezhdesign.com/" class="btn btn-sm">
                            <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                        </a>
                    </div>
                </figure>
            </div>
            <div class="tourcard">
                <figure>
                    <div class="tourpic">
                        <img width="320" height="180" src="https://placeimg.com/400/225/nature">
                        <span class="tourcat">Domestic</span>                             
                        <span class="tourday hot">3d2n</span>
                    </div>
                    <figcaption>
                      <h3 class="entry-title">
                          <a href="https://reezhdesign.com">Darjeeling</a></h3>
                      <span class="description">Domestic Tour Package 3 Days 2 Night</span>
                      <span class="tourprice">
                        <span class="currency">Rs. </span><span class="price">40000</span>
                      </span>
                    </figcaption>
                    <div class="tourbtn">
                        <a href="//wa.me/6282127602518" class="btn btn-sm" target="_blank" rel="noreferrer">
                            <i class="fas fa-inbox"></i><span>message</span>
                        </a>
                        <a href="tel:6282127602518" class="btn btn-sm" target="_blank" rel="noreferrer">
                            <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                        </a>
                        <a href="https://reezhdesign.com/" class="btn btn-sm">
                            <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                        </a>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</body>
</html>