<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>popup</title>
    <style>
    .popup {
  width:400px;
  background-color:#fff;
  border-radius: 6px;
  position: absolute;
  top:0;
  left:50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding:10px 30px 30px;
  color:#333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 100;
  }
  .show-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
  }
  .popup img{
    width: 100px;
    margin-top: -50px;
    border-radius:50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  .popup h2{
    font-size: 38px;
    font-weight: 500;
    margin:30px 0 10px;
  }
  .popup button{
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    background: #f35b72;
    color:#fff;
    border:0;
  outline:none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
    </style>
</head>
<body>
    <div class="popup" id="popup">
        <img src="images/tick.png">
        <h2>Thank You!🙏</h2>
        <p>Congratulations,you are  Successfully Loged In.</p>
        <button type="button" onclick="hidePopup()">ok</button>
      </div>
</body>
<script>
     let popup = document.getElementById("popup");
  function showPopup(){
  popup.classList.add("show-popup")
  }
  function hidePopup(){
  popup.classList.remove("show-popup")
  }
</script>
</html>