<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Card Slider | CodingNepal</title>
    <link rel="stylesheet" href="css/vertical.css">
</head>
<body>
  <div class="entity">
    <div class="outer">
      <div class="caard" style="--delay:-1;">
        <div class="content">
          <div class="img"><img src="images/traveling.png" alt=""></div>
          <div class="details">
            <span class="name">Tour</span>
            <p>Start your journey with us.</p>
          </div>
        </div>
        <a href="#">start</a>
      </div>
      <div class="caard" style="--delay:0;">
        <div class="content">
          <div class="img"><img src="images/taxi.png" alt=""></div>
          <div class="details">
            <span class="name">Cab</span>
            <p>Start your journey with us.</p>
          </div>
        </div>
        <a href="#">Start</a>
      </div>
      <div class="caard" style="--delay:1;">
        <div class="content">
          <div class="img"><img src="images/bed.png" alt=""></div>
          <div class="details">
            <span class="name">Hotel</span>
            <p>Start your journey with us.</p>
          </div>
        </div>
        <a href="#">Start</a>
      </div>
      <div class="caard" style="--delay:2;">
        <div class="content">
          <div class="img"><img src="images/traveling.png" alt=""></div>
          <div class="details">
            <span class="name">Tour</span>
            <p>Start your journey with us.</p>
          </div>
        </div>
        <a href="#">Start</a>
      </div>
      <div class="caard" style="--delay:2;">
        <div class="content">
          <div class="img"><img src="images/taxi.png" alt=""></div>
          <div class="details">
            <span class="name">Cab</span>
            <p>Start your journey with us.</p>
          </div>
        </div>
        <a href="#">Start</a>
      </div>
    </div>
  </div>
</body>
</html>