@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans&family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans&family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
:root {
    --font-style:'Nunito Sans', sans-serif;
    --transition: all 0.7s ease;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    background:transparent;
    font-family: 'Poppins',sans-serif;
  }
.bgimg{
  position: absolute;
  top:0px;
  left:0;
  width: 100%;
  height:700px;
  object-fit:cover;
}
/*---navbar---*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: inherit;
  z-index: 10000;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 30px;
  font-weight: bold;
}
.nav .nav-links {
  font-size: 20px;
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links li a::after {
  display: block;
  content: "";
  width:0;
  height: 3px;
  background-color: #fff;
  margin: auto;
}
.nav .nav-links li a:hover::after{
  width: 100%;
  transition: width 0.3s linear;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 52px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    font-size: 18px;
    align-items:flex-start;
    padding-left: 50px;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: rgba(1, 105, 180, 0.705);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}
/*---account drop down---*/
.dropdown {
  position: relative;
  border-radius: 6px;
}

.dropdown > button {
  position: relative;
  z-index: 0;
  transition: 0.3s;
}

.dropdown > button:hover {
  background: #0a82d5;
}

.dropdown.open > button {
  background: #fff;
  color:#0a82d5
}

.dropdown button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 5px;
  width: 180px;
  height: 52px;
  border-radius: 6px;
  border:2px solid #fff;
  color: #fff;
  background:inherit;
  cursor: pointer;
  font-size: 16px;
  font-family: "Euclid Circular A";
}

.dropdown button .chevron {
  margin-left: auto;
}

.menu {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  top: 60px;
  left: 0;
  width: 100%;
  height: 155px;
  opacity: 0;
  visibility: hidden;
  border-radius: 6px;
  border-top: 0;
  border:2px solid #ededed;
  background: #fff;
  color:#383838;
  translate: 0 -20px;
  transition: 0.4s;
}

.main-menu {
  width: 180px;
}

.menu-inner {
  position: absolute;
  width: 460px;
  display: flex;
  transition: 0.3s;
}

.menu-inner.open {
  translate: -50%;
}

.menu button {
  border: 0;
  width: 100%;
  height: 50px;
  border-radius: 0;
  color:#383838;
}

.menu button:hover {
  background: #fafafa;
}

.dropdown.open .menu {
  opacity: 1;
  translate: 0;
  visibility: visible;
}

.sub-menu {
  display: none;
  width:180px;
  margin-left: 50px;
}

.sub-menu.open {
  display: block;
}
section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #112d42;
}
section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background:#03a9f4;

}
section .container{
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}
section .container .contact-info{ 
  position:absolute;
  top:40px;
  width:350px;
  height:calc(100% - 80px);
  background: #0f3959;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
section .container .contact-info h2{
  color:#fff;
  font-size: 24px;
  font-weight: 500;
}
section .container .contact-info .info{
  position: relative;
  margin: 20px 0;
}
section .container .contact-info .info li{
  position: relative;
  list-style:none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}
section .container .contact-info .info li span:nth-child(1){
  width: 30px;
  min-width: 30px;
}
section .container .contact-info .info li span:nth-child(1) i{
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}
section .container .contact-info .info li span:nth-child(2){
  color:#fff;
  margin-left: 10px;
  font-weight: 500;
  opacity: 0.5;
}
section .container .contact-info .info li:hover span:nth-child(1) i,
section .container .contact-info .info li:hover span:nth-child(2)
{
opacity: 1;
}
section .container .contact-info .social{
  position: relative;
  display: flex;
}
section .container .contact-info .social li{
  list-style: none;
  margin-right: 15px;
}
section .container .contact-info .social li a{
  text-decoration: none;
}
section .container .contact-info .social li a i{
filter: invert(1);
opacity: 0.5;
}
section .container .contact-info .social li:hover a i{
opacity: 1;
}
section .container .contact{
  position: absolute;
  padding:70px 50px;
  background:#ffffff;
  margin-left:150px;
  padding-left:250px;
  width: calc(100% -150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0,0,0.0.5);
}
section .container .contact .formBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top:30px ;
}
section .container .contact .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
  width: 47%;
}
section .container .contact .formBox .inputBox .w50{
  width: 50%;
}
section .container .contact .formBox .inputBox .w100{
  width: 100%;
}
section .container .contact .formBox .inputBox input,
section .container .contact .formBox .inputBox textarea{
  width: 100% !important;
  resize: none;
  border: none;
  padding:5px 0;
  font-size: 18px;
  font-weight: 300;
  color:#333;
  border-bottom: 1px solid #777;
  outline: none;
}
section .container .contact .formBox .inputBox textarea{
  min-height: 120px;
}
section .container .contact .formBox .inputBox span{
  position: absolute;
  left: 0;
  font-size: 18px;
  font-weight: 300;
  color:#333;
  transition: 0.5s;
  pointer-events: none;
}
section .container .contact .formBox .inputBox input:focus ~ span,
section .container .contact .formBox .inputBox textarea:focus ~ span,
section .container .contact .formBox .inputBox input:valid ~ span,
section .container .contact .formBox .inputBox textarea:valid ~ span{
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color:#b870f0;
}
section .container .contact .formBox .inputBox input[type="submit"]
{
  position: absolute;
  cursor: pointer;
  background: #0f3959;
  color:#fff;
  border: none;
  padding: 12px;
  margin-left: 0;
}
section .container .contact .formBox .inputBox input[type="submit"]:hover{
  opacity: 0.5;
}
.animate-charcter
{   text-align: center;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #f070db 0%,
    #70f0d2 29%,
    #b870f0 67%,
    cyan 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.pulse-container{
  display: flex;
  z-index: 100;
}
.pulse-container i{
  color: #fff;
  font-size: 1000px;
  width: 20px;
}
.pulse{
  background: #44bd32;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom:500;
}
.pulse::before{
  content: "";
  position: absolute;
  width:calc(100% + 40px);
  height:calc(100% + 40px);
  border:2px solid #44bd32;
  border-radius:50% ;
  animation: animate 1.5s linear infinite;
}
.pulse::after{
  content: "";
  position: absolute;
  width:calc(100% + 40px);
  height:calc(100% + 40px);
  border:2px solid #44bd32;
  border-radius:50% ;
  animation: animate 1.5s linear infinite;
  animation-delay: 0.4s;
}
@keyframes animate{
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
  50%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(1.4);
    opacity: 0;
  }
}
#submit{
  display: block;
  width: 100%;
  position:absolute;
  margin-top:50%;
  margin-left: -50%;
}
#social-icon{
  color:white;
  font-size: 25px;
}

